<%- include("header") -%>

<h2>This is the project done by NARNE srinivasarao</h2>

<p>I am Narne Srinivasarao, and I have completed my Bachelor's degree in Engineering. At the moment, I am enrolled in a Udemy course focused on full-stack web development, and this project serves as a practical exercise for me.</p>

<%- include("footer") -%>
